@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito&display=swap");

@layer base {
  body {
    background-color: #282c33;
    @apply font-[Nunito];
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
